div.user{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f2f6;
}

input.user-name{
    width: 20%;
    height: 30px;
}

div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

div.dialog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f2f6;
}

input.message-for-seding{
    width: 500px;
    height: 40px;
}
    

button{
    outline: none;
    border: 0;
    background-color: #003289;
    width: 60px;
    height: 40px;
}